section.contribute {
  display: flex;
  flex-direction: column;
}

section.contribute:first-of-type {
  padding-top: var(--navHeight);
}

.resources-image {
  background-image: url(../images/contribute-resources.jpg);
  width: 100vw;
  height: 50vh;
}

.time-image {
  background-image: url(../images/contribute-time.png);
  width: 100vw;
  height: 50vh;
}

.knowledge-image {
  background-image: url(../images/contribute-knowledge.jpg);
  width: 100vw;
  height: 50vh;
}
