/* #region hero */
section.hero {
  background-color: hsl(78deg 78% 89%);
  background-image: linear-gradient(
    320deg,
    hsl(180deg 68% 42%) 0%,
    hsl(175deg 47% 51%) 21%,
    hsl(169deg 46% 58%) 30%,
    hsl(162deg 46% 64%) 39%,
    hsl(153deg 46% 70%) 46%,
    hsl(141deg 46% 75%) 54%,
    hsl(126deg 45% 80%) 61%,
    hsl(108deg 51% 84%) 69%,
    hsl(92deg 62% 86%) 79%,
    hsl(78deg 78% 89%) 100%
  );
  /* background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
    url(../images/women-on-laptops-around-table.jpg); */
  /* background-size: cover; */
  /* background-position: center; */
  min-height: calc(100vh - var(--navHeight));
  margin: var(--navHeight) auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.hero p.content {
  color: var(--darkGrey200);
  font-size: 2rem;
  font-weight: 600;
  max-width: 100%;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  section.hero {
    min-height: auto;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - var(--navHeight));
  }
  section.hero p.content {
    vertical-align: middle;
    max-width: 50%;
    margin-bottom: inherit;
  }

  section.hero .image {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  section.hero p.content {
    font-size: 2.5rem;
  }
}

/* #endregion */

/* #region learning  */
section.learning {
  flex-direction: column;
  padding-top: var(--mobileSpacing2x);
  padding-bottom: var(--mobileSpacing2x);
}

section.learning .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

section.learning .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20ch;
  margin: 1em;
}

section.learning .item p {
  text-align: center;
  margin-top: 1em;
}

section.learning .item .image {
  height: 100px;
}

section.learning .item .image img {
  max-width: 100px;
}

@media screen and (min-width: 768px) {
  section.learning {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: var(--tabletSpacing2x);
    padding-bottom: var(--tabletSpacing2x);
  }

  section.learning .item {
    width: 24ch;
  }
}

@media screen and (min-width: 1024px) {
  section.learning {
    padding-top: var(--desktopSpacing2x);
    padding-bottom: var(--desktopSpacing2x);
  }
}

/* #endregion */

.cvr {
  font-weight: 700;
}
