:root {
  --white: #ffffff;
  --black: #1c1c1c;
  --strongGrey: #5e5d5d;
  --sherpaBlue: #084c61;
  --sherpaBlueLight: #0a5d76;
  --sherpaBlueDark: #073f50;
  --teal: #23b5b5;
  --tealContrast: #002929;
  --grey: #f1f1f1;
  --blue: #104c90;
  --navHeight: 56px;
  --mobileSpacing: 2.1rem;
  --mobileSpacing2x: 4.2rem;
  --tabletSpacing: 5rem;
  --tabletSpacing2x: 8rem;
  --desktopSpacing: 8rem;
  --desktopSpacing2x: 8rem;
  --lineHeight: 1.6;
  /* --breakpointPhone: 375px;
  --breakpointTablet: 768px;
  --breakpointDesktop: 1024px;
  --breakpointDesktop2x: 1280px; */
}

/* #region globals: *, html, body, h1-6, p, section */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: left;
  line-height: var(--lineHeight);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h1::after, 
h2::after {
  content: "";
  display: block;
  width: 3rem;
  border-bottom: 4pt solid;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 1em;
  font-weight: 500;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-width: 65ch;
}
/* #endregion */

/* #region globals: padded, colored utils */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.padded {
  padding: var(--mobileSpacing2x) var(--mobileSpacing);
}

.padded .content {
  width: 65ch;
}

@media screen and (min-width: 768px) {
  .padded {
    padding: var(--tabletSpacing2x) var(--tabletSpacing);
  }
}

@media screen and (min-width: 1024px) {
  .padded {
    padding: var(--desktopSpacing2x) var(--desktopSpacing);
  }
}

.sherpaBlue {
  background-color: var(--sherpaBlue);
  color: var(--white);
}

.sherpaBlueLight {
  background-color: var(--sherpaBlueLight);
  color: var(--white);
}

.sherpaBlueDark {
  background-color: var(--sherpaBlueDark);
  color: var(--white);
}

.teal {
  background-color: var(--teal);
  color: var(--tealContrast);
}

.black {
  background-color: var(--black);
  color: var(--white);
}
/* #endregion */

/* #region nav */
nav {
  position: fixed;
  background-color: var(--white);
  width: 100%;
  display: flex;
  align-content: center;
  height: var(--navHeight);
}

nav img.logo {
  z-index: 1;
  margin: 12px 24px;
}

nav .hamburger {
  z-index: 1;
  margin-left: auto;
  height: var(--navHeight);
  width: var(--navHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
}

nav .hamburger div span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--black);
  margin: 4px;
}

nav .hamburger:hover div span:last-of-type {
  width: 12px;
}

nav .menu {
  display: none;
}

nav .menu.open {
  display: flex;
  position: fixed;
  background-color: var(--white);
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .menu ul {
  padding-left: 0;
  text-align: center;
}

nav .menu ul li {
  margin: 1.2em;
}

nav .menu ul li a {
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
}

nav .menu ul li a:hover,
nav .menu ul li a.active {
  color: var(--teal);
}

@media only screen and (min-width: 780px) {
  nav .menu {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
  }

  nav .menu ul {
    display: flex;
    align-items: center;
    margin: 0 1em;
  }

  nav .menu ul li {
    margin: 0 1em;
  }

  nav .hamburger {
    display: none;
  }
}

/* #endregion */

/* #region footer */
footer {
  padding: var(--mobileSpacing2x) var(--mobileSpacing);
  display: flex;
  justify-content: center;
}

footer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .contact {
  margin-bottom: var(--mobileSpacing);
}

footer .contact h2 {
  font-size: 2rem;
}

footer .contact p {
  font-size: 1.15rem;
}

footer ul.social-media {
  padding: 0;
  margin: -0.6em;
}

footer ul.social-media li {
  margin: 0.6em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--teal);
}

footer ul.social-media li a {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  color: var(--sherpaBlue);
}

footer ul.social-media li a:hover {
  color: var(--teal);
}

footer ul.social-media i {
  font-size: 1.6rem;
  width: 2.3rem;
}

@media only screen and (min-width: 780px) {
  footer .content {
    flex-direction: row;
  }

  footer ul.social-media {
    margin: 0 4em 0 auto;
  }
}

/* #endregion */
