:root {
  --white: #ffffff;
  --black: #1c1c1c;
  --dark: #2b2b2b;
  --grey100: #f1f1f1;
  --grey200: #afafaf;
  --grey300: #5e5d5d;
  --sherpaBlue100: #0097c5;
  --sherpaBlue200: #0a5d76;
  --sherpaBlue300: #084c61;
  --sherpaBlue400: #073f50;

  --brand: #23b5b5;
  --brandLight100: #2be1e1;
  --brandLight200: #2ef5f5;
  --tealContrast: #002929;
  --blue: #104c90;

  --callToActionBackground: var(--brand);
  --callToActionColor: var(--black);
  --callToActionBackgroundHover: var(--brandLight100);
  --callToActionBackgroundActive: var(--brandLight200);

  --link: var(--sherpaBlue200);
  --linkHover: var(--sherpaBlue100);

  --blackLink: var(--brand);
  --blackLinkHover: var(--brandLight100);

  --darkLink: var(--brand);
  --darkLinkHover: var(--brandLight100);

  --sherpaBlueLink: var(--brandLight100);
  --sherpaBlueLinkHover: var(--brandLight200);

  --navBackgroundColor: #0c0c0c;
  --navColor: var(--white);
  --navLink: var(--white);
  --navLinkHover: var(--brand);
  --navHeight: 56px;
  --navBorderColor: #0d0d0d;

  --footerBackgroundColor: #161616;
  --footerColor: var(--white);
  --footerLink: var(--blackLink);
  --footerLinkHover: var(--blackLinkHover);

  --mobileSpacing: 2.1rem;
  --mobileSpacing2x: 4.2rem;
  --tabletSpacing: 5rem;
  --tabletSpacing2x: 8rem;
  --desktopSpacing: 8rem;
  --desktopSpacing2x: 8rem;
  --lineHeight: 1.6;
  --contentWidth: 700px;
  /* --breakpointPhone: 375px;
  --breakpointTablet: 768px;
  --breakpointDesktop: 1024px;
  --breakpointDesktop2x: 1280px; */
}

/* #region globals: *, html, body, h1-6, p */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: left;
  line-height: var(--lineHeight);
}

h1 {
  font-size: 2.1rem;
  font-weight: 700;
}

h2 {
  font-size: 2.1rem;
  font-weight: 700;
}

h1::after,
h2::after {
  content: "";
  display: block;
  width: 3rem;
  border-bottom: 4pt solid;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
  margin-top: 1em;
  font-weight: 700;
  margin: 2.6em 0 0.4em;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1em 0;
  padding: 0;
}

li {
  font-size: 1.2rem;
}

a {
  color: var(--link);
  text-decoration: none;
  font-weight: 700;
}

a:hover,
a:active {
  color: var(--linkHover);
}

/* #endregion */

/* #region globals: padded, colored utils, images */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.padded {
  padding: var(--mobileSpacing2x) var(--mobileSpacing);
}

.padded .content {
  max-width: var(--contentWidth);
}

@media screen and (min-width: 768px) {
  .padded .content {
    width: var(--contentWidth);
  }

  .padded {
    padding: var(--tabletSpacing2x) var(--tabletSpacing);
  }
}

@media screen and (min-width: 1024px) {
  .padded {
    padding: var(--desktopSpacing2x) var(--desktopSpacing);
  }
}

.sherpaBlue {
  background-color: var(--sherpaBlue300);
  color: var(--white);
}

.sherpaBlueDark {
  background-color: var(--sherpaBlue400);
  color: var(--white);
}

.sherpaBlue a,
.sherpaBlueDark a {
  color: var(--sherpaBlueLink);
}

.sherpaBlue a:hover,
.sherpaBlue a:active,
.sherpaBlueDark a:hover,
.sherpaBlueDark a:active {
  color: var(--sherpaBlueLinkHover);
}

.white {
  background-color: var(--white);
  color: var(--black);
}

.black {
  background-color: var(--black);
  color: var(--white);
}

.black a {
  color: var(--blackLink);
}

.black a:hover,
.black a:active {
  color: var(--blackLinkHover);
}

.dark {
  background-color: var(--dark);
  color: var(--white);
}

.dark a {
  color: var(--darkLink);
}

.dark a:hover,
.dark a:active {
  color: var(--darkLinkHover);
}

.muted {
  color: var(--grey300);
}

.dark .muted,
.black .muted {
  color: var(--grey200);
}

.cover-image {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* #endregion */

/* #region nav */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--navBackgroundColor);
  display: flex;
  align-content: center;
  height: var(--navHeight);
  border-bottom: 1pt solid var(--navBorderColor);
}

header .logo {
  position: fixed;
  z-index: 2;
  margin: 12px 24px;
}

header nav {
  display: flex;
  width: 100%;
}

.hamburger {
  z-index: 1;
  margin-left: auto;
  height: var(--navHeight);
  width: var(--navHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
}

.hamburger div span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--navColor);
  margin: 4px;
}

.hamburger:hover div span:last-of-type {
  width: 12px;
}

.menu {
  display: none;
}

.menu.open {
  display: flex;
  position: fixed;
  background-color: var(--navBackgroundColor);
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu ul {
  padding-left: 0;
  text-align: center;
}

.menu ul li {
  margin: 1.2em;
}

.menu ul li a {
  color: var(--navLink);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.menu ul li a:hover,
.menu ul li a.active {
  color: var(--navLinkHover);
}

@media only screen and (min-width: 925px) {
  nav .menu {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
  }

  nav .menu ul {
    display: flex;
    align-items: center;
    margin: 0 1em;
  }

  nav .menu ul li {
    margin: 0 1em;
  }

  nav .hamburger {
    display: none;
  }
}

/* #endregion */

/* #region footer */

footer {
  background-color: var(--footerBackgroundColor);
  color: var(--footerColor);
}

.contact .content {
  display: flex;
  flex-direction: column;
}

.contact .email h2 {
  font-size: 2rem;
}

.contact .email p {
  font-size: 1.15rem;
}

.contact ul.social-media {
  padding: 0;
  margin: -0.6em;
  display: flex;
}

.contact ul.social-media li {
  margin: 0.6em;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact ul.social-media li a {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--footerLink);
}

.contact ul.social-media li a:hover {
  color: var(--footerLinkHover);
}

.contact ul.social-media i {
  font-size: 1.8rem;
  width: 2.3rem;
}

@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: center;
  }
  
  .contact .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: var(--contentWidth);
  }

  .contact ul.social-media {
    margin: 0 4em 0 auto;
  }
}

.imprint {
  background-color: black;
  padding: var(--mobileSpacing);
}

.imprint p {
  font-size: 0.825rem;
}

.imprint .content {
  max-width: var(--contentWidth);
}

@media screen and (min-width: 768px) {
  .imprint {
    padding: var(--mobileSpacing) var(--tabletSpacing);
    display: flex;
    justify-content: center;
  }

  .imprint .content {
    width: var(--contentWidth);
  }
}

@media screen and (min-width: 1024px) {
  .imprint {
    padding: var(--mobileSpacing) var(--desktopSpacing);
  }
}

/* #endregion */
